<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforg.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--jdbc必须-->
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!--方言-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!--显示heibernate自动生产的sql-->
        <property name="show_sql">true</property>


        <!--<property name="max_fetch_depth">2</property>-->

        <!--<mapping resource="People.hbm.xml"></mapping>-->

        <!--<mapping resource="Order.hbm.xml"></mapping>-->

        <!--<mapping resource="Customer.hbm.xml"></mapping>-->

        <!--<mapping resource="Category.hbm.xml"></mapping>-->

        <!--<mapping resource="Student.hbm.xml"></mapping>-->
        <!--<mapping resource="IDCard.hbm.xml"></mapping>-->

        <!--<mapping resource="Employer.hbm.xml"></mapping>-->
        <!--<mapping resource="EmIDCard.hbm.xml"></mapping>-->
        <!--<mapping resource="Team.hbm.xml"></mapping>-->

        <!--<mapping resource="Student2.hbm.xml"></mapping>-->
        <!--<mapping resource="Course.hbm.xml"></mapping>-->

        <!--<mapping resource="Team2.hbm.xml"></mapping>-->
        <!--<mapping resource="TStudent.hbm.xml"></mapping>-->


        <!--<mapping resource="Team3.hbm.xml"></mapping>-->

        <!--<mapping resource="Question.hbm.xml"></mapping>-->
        <!--<mapping resource="Item.hbm.xml"></mapping>-->

        <!--Bag 可以重复且没有顺序的一种集合-->
        <!--<mapping resource="BagQuestion.hbm.xml"></mapping>-->
        <!--<mapping resource="BagItem.hbm.xml"></mapping>-->

        <!--联合主键-->
        <!--<mapping resource="MyStudent.hbm.xml"></mapping>-->

        <!--<mapping resource="MyStudent1.hbm.xml"></mapping>-->


        <!--<mapping resource="Student11.hbm.xml"></mapping>-->

        <!--<mapping resource="Teacher.hbm.xml"></mapping>-->

        <!--<mapping resource="StudentEP.hbm.xml"></mapping>-->

        <mapping resource="Person2.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>